
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<header class="bk-header">
    <div class="wrapper clearfix">

        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('content', 'headercontent', {"content":"<p>CHINESE CUISINE</p>"})|raw}}
        </div>
       
    </div><!--end wrapper clearfix-->
</header>
    <div class="container wrapper clearfix">
        {% if pages|length > 1 %}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    {% endif %}
        <div class="main wrapper clearfix">
            {{zone('main')|raw}}
         </div>
    </div>

</div>

{% endblock %}