
{% extends "layout.twig" %}

{% block content %}

<header>
        <div class"socialheader">
            {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    <div class="wrapper clearfix">

        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "FUSION"})|raw}}
             {{widget('content', 'headercontent', {"content":"<p>CHINESE CUISINE</p>"})|raw}}
        </div>

                    {{widget('menusections', 'menusections1', {})|raw}}
       
    </div><!--end wrapper clearfix-->
</header>

<div class="wrapper clearfix">

{{widget('menu', 'menu1', {})|raw}}

                    {{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}

                    </div><!--end wrapper clearfix-->

<footer>
        {{widget('content', 'footercolumn1content', {"content":"<p>COPYRIGHT. 2014</p>"})|raw}}
</footer>

{% endblock %}
