
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
        <div class"socialheader wrapper clearfix">
                    {% if pages|length > 1 %}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    {% endif %}
            {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    <div class="wrapper clearfix">

        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('content', 'headercontent', {"content":"<p>CHINESE CUISINE</p>"})|raw}}
        </div>
       
    </div><!--end wrapper clearfix-->
</header>
    <div class="container wrapper clearfix">
        {{widget('menusections', 'menusections1', {})|raw}}
        <div class="wrapper clearfix">
            {{widget('menu', 'menu1', {})|raw}}
        <div class="contacttextwidget">
            {{widget('content', 'footercolumn1content', {"content":"<h2>CONTACT US</h2>"})|raw}}
    </div>
        {{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}

        </div><!--end wrapper clearfix-->
    </div>

<footer class="bk-footer">
</footer>

{% endblock %}
